{% extends 'base.html' %}

{% block content %}
  <div class="container-flueit">
    <div id="carouselExampleCaptions" class="carousel slide shadow-lg" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item  active">
          <img src="/static/pics/1.jpg" class="d-block w-100 slide-image" alt="pic">
          <div class="carousel-caption d-none d-md-block">
            <h2>Welcome to FreetechHub</h2>
            <p>This is the place where you could share your wisdom freely.</p>
            <p><a class="btn btn-primary" href="/blog/">View Blogs</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/pics/2.jpg" class="d-block w-100 slide-image" alt="pic">
          <div class="carousel-caption d-none d-md-block">
            <h2>Welcome to FreetechHub</h2>
            <p>This is the last stronghold for intellectual capitalism</p>
            <p><a class="btn btn-primary" href="/blog/">View Blogs</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/pics/3.jpg" class="d-block w-100 slide-image" alt="pic">
          <div class="carousel-caption d-none d-md-block">
            <h2>Welcome to FreetechHub</h2>
            <p>Knowledge with no borders</p>
            <p><a class="btn btn-primary" href="/blog/">View Blogs</a></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container mt-5">
    <h2>Top Liked Blog</h2>
    {% if top_liked_blog == None %}
      <p>No blog yet</p>
    {% else %}
      <div class="card shadow bg-white mt-1">
        <div class="card-body">

          <h1 class="card-title"> <a href="{% url 'blog:post_detail' pk=top_liked_blog.pk %}">{{ top_liked_blog.title }}</a></h1>
          <p class="card-text"> {{ top_liked_blog.body_summary|striptags }} </p>
          <div>{{ top_liked_blog.user }}</div>
          <div>{{ top_liked_blog.created_date }}</div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="container mt-5">
    <h2>Top Discussed Blog</h2>
    {% if top_commented_blog == None %}
      <p>No blog yet</p>
    {% else %}
      <div class="card shadow bg-white mt-1">
        <div class="card-body">

          <h1 class="card-title"> <a href="{% url 'blog:post_detail' pk=top_commented_blog.pk %}">{{ top_commented_blog.title }}</a></h1>
          <p class="card-text"> {{ top_commented_blog.body_summary|striptags }} </p>
          <div>{{ top_commented_blog.user }}</div>
          <div>{{ top_commented_blog.created_date }}</div>
        </div>
      </div>
    {% endif %}
  </div>

  <style type="text/css">
    .slide-image{
      height: 500px;
    }
  </style>
{% endblock %}
