
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">

<div class="markdownx">
  <div class="row">
    <div class="col-6">
      {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <article class="markdown-body">
      <div class="col-6">
        <div class="markdownx-preview markd-show"></div>
      </div>
    </article>
  </div>
</div>
<style type="text/css">
  .markd-show {
    background-color: #ffffe6;
    min-width: 500px;
    min-height: 500px;
  }
</style>