{% extends 'base.html' %}
{% block title %}FreeTechHub-blogs{% endblock %}
{% load static %}

{% block content %}
  <div class="container">

    <ul class="nav" aria-label="breadcrumb">
      <li class="nav-item opt">
        <i class="fa fa-plus-square mt-3 mr-2" aria-hidden="true" onclick="location.href=`{% url 'blog:new_blog' %}`"> new</i>
      </li>
      <li class="nav-item opt">
        <i class="fa fa-calendar mt-3 mr-0" aria-hidden="true" onclick="sortByDate()"> Order by date</i>
        {% if order == "asc" %}
          <i class="fa fa-hand-o-up" id="sortOrder" onclick="sortFunc(this)" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-hand-o-up fa-hand-o-down" id="sortOrder" onclick="sortFunc(this)" aria-hidden="true"></i>
        {% endif %}
      </li>
      <li class="nav-item ml-auto">
        <form class="form-inline my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
  
  </div>

  <div class="container">
    {% for post in posts %}

      <div class="card shadow bg-white mt-1">
        <div class="card-body">

          <h1 class="card-title"> <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          <p class="card-text"> {{ post.body_summary|striptags }} </p>
          <div><a href="{% url 'accounts:profile' pk=post.user.id %}">{{ post.user.username }}</a></div>
          <div>{{ post.created_date }}</div>
        </div>
      </div>

    {% endfor %}

    <a href="{% url 'blog:new_blog' %}" class="btn btn-primary btn-lg mt-2 mb-5" role="button" aria-pressed="false">post a blog</a>
  </div>

  <style type="text/css">
    .opt:hover{
      color:#3F60E2;
    }
  </style>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
  function sortFunc(x) {
    x.classList.toggle("fa-hand-o-down");
  }
  
  function sortByDate() {
    let order = document.getElementById('sortOrder').classList.contains('fa-hand-o-down');
    if(order){
      location.href='/blog/?sortOrder=dec'
    }else{
      location.href='/blog/?sortOrder=asc'
    }

  }
</script>
{% endblock %}
