{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    {% for post in posts %}

      <div class="card shadow bg-white">
        <div class="card-body">
          <h1 class="card-title"> <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          <p class="card-text"> {{ post.body_summary|striptags }} </p>
          <div>{{ post.created_date }}</div>
        </div>
      </div>

    {% endfor %}

    <a href="{% url 'blog:new_blog' %}" class="btn btn-primary btn-lg mt-2 mb-5" role="button" aria-pressed="false">post a blog</a>
  </div>
{% endblock %}