{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">

    <ul class="nav" aria-label="breadcrumb">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item ml-auto">
        <form class="form-inline my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
  
  </div>

  <div class="container">
    {% for post in posts %}

      <div class="card shadow bg-white mt-1">
        <div class="card-body">

          <h1 class="card-title"> <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          <p class="card-text"> {{ post.body_summary|striptags }} </p>
          <div>{{ post.user }}</div>
          <div>{{ post.created_date }}</div>
        </div>
      </div>

    {% endfor %}

    <a href="{% url 'blog:new_blog' %}" class="btn btn-primary btn-lg mt-2 mb-5" role="button" aria-pressed="false">post a blog</a>
  </div>
{% endblock %}