{% extends 'base.html' %}
{% load static %}
{% block title %}FreeTechHub-series{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mt-5">
      {% for series in all_series%}
        <div class="col-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <image xlink:href="/media/{{ series.background_image }}" width="100%" height="100%"/>
            </svg>
            <div class="card-body">
              <h4><a href="{% url 'blog:series_detail' pk=series.pk %}">{{ series.title }}</a></h4>
              <p class="card-text">
                {{ series.description_summary }}
              </p>

              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-primary" onclick="location.href=`{% url 'blog:series_detail' pk=series.pk %}`">View</button>
                <small class="text-muted">{{ series.mod_date }}</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
