{% extends "base.html" %}

{% block title %}FreeTechHub-profile-series{% endblock %}

{% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2349859212,1053714951&fm=26&gp=0.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        FreeTechHub
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'account_logout' %}">Logout <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-3">
        <div style="min-height: 8%;"></div>
        <div class="container">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action mt-2" onclick="location.href=`{% url 'blog:blog' %}`">Go view blog</button>
            <button type="button" class="list-group-item list-group-item-action" onclick="location.href=`{% url 'accounts:profile' pk=user.id %}`">blogs</button>
            <button type="button" class="list-group-item list-group-item-action" onclick="location.href=`#`">Series</button>
            <button type="button" class="list-group-item list-group-item-action mb-2" onclick="location.href='/accounts/settings/{{ user.id }}/'">Profile</button>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="container" style="margin-left: 0px;">
          <div class="container">

            <ul class="nav" aria-label="breadcrumb">
              <li class="nav-item  mt-2">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item ml-auto mt-2">
                <form class="form-inline my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
                </form>
              </li>
            </ul>
          
          </div>

          <h1>{{ user.username }}-Series</h1>

          <div class="container" id="demo-area">
            <div class="row">
              {% for series in series_collection%}
                <div class="col-4" id="series-{{ series.id }}">
                  <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                      <title>Placeholder</title>
                      <image xlink:href="/media/{{ series.background_image }}" width="100%" height="100%"/>
                    </svg>
                    <div class="card-body">
                      <h4><a href="{% url 'blog:series_detail' pk=series.pk %}">{{ series.title }}</a></h4>
                      <p class="card-text">
                        {{ series.description_summary }}
                      </p>

                      {% if not is_visitor %}
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button class="btn btn-primary" onclick="location.href=`{% url 'blog:edit_series' pk=series.pk %}`">edit</button>
                            <button class="btn btn-danger deletion" value="{{ series.id }}" >delet</button>
                          </div>
                          <small class="text-muted ml-2">{{ series.mod_date }}</small>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if not is_visitor %}
              <button class="btn btn-primary ml-auto" onclick="location.href=`{% url 'blog:new_series' %}`">+New series</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<script>
  $('.deletion').on("click",function(){
    let seriesId = this.value
    console.log(seriesId)
    bootbox.confirm({
      title: "Destroy this Series?",
      message: "Do you want to destroy this series? This cannot be undone.",
      buttons: {
          cancel: {
              label: '<i class="fa fa-times"></i> Cancel'
          },
          confirm: {
              label: '<i class="fa fa-check"></i> Confirm'
          }
      },
      callback: function (result) {
        if(result){
          $.ajax({
            url: '/blog/ajax/delete_series/',
            data: {
              'seriesId': seriesId
            },
            dataType: 'json',
            success: function (data) {
              bootbox.alert({
                message: "Series successfully deleted",
                backdrop: true,
                callback: function () {
                  $('#series-'+data['seriesId']).remove()
                }
              });
            }
          });
        }
      }
    });
  });
</script>
{% endblock %}
